In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

In [91]:
#importing necessarry libraries
import selenium
from selenium import webdriver
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [92]:
driver = webdriver.Chrome(r'C:\Users\91797\Desktop\chromedriver_win32\chromedriver.exe')

In [93]:
url= 'https://www.naukri.com/'
driver.get(url)

In [94]:
# finding web element for search job bar using class name
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [95]:
#write on search bar
search_job.send_keys('Data Analyst')

In [96]:
#finding web element for search location using absolute xpath
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [97]:
#finding web element for search location bar
search_locn.send_keys('banglore')

In [99]:
#clicking using class name function
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn

In [100]:
search_btn.click()

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [201]:
# Extracting job results

In [101]:
#lets extracts all the web element having job title
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [114]:
#now text of the job title is inside the web element extracted above
#so we will run for loop to iterate over the tags and will extracts text from them
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [115]:
job_titles

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Data Analyst',
 'Business Analyst (Data Analyst role)',
 'Senior Analyst, Data Engineering',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Job Opportunity with Leading MNC - Senior Data Analyst',
 'Analyst - Data Intelligence Group',
 'Insights Data analyst',
 'Data Analyst',
 'Business Analyst (Data Analyst)',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst / Data visualization',
 'Principal IT Data Analyst - Azure + Databrics',
 'Data Analyst',
 'Data Analyst',
 'Associate Data Analyst']

In [116]:
#lets exytract the company name from the web element
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [117]:

company_name=[]

for i in company_tags:
    company_name.append(i.text)
len(company_name)

20

In [118]:
company_name

['Flipkart',
 'Shell',
 'Xpheno',
 'Dell',
 'SHAND PIPE INDUSTRY PVT.LTD',
 'THBS',
 'Enrich and Enlight',
 'TresVista Financial',
 'Tide Software',
 'Shell',
 'Genpact',
 'Genpact',
 'Liventus Technology Services',
 'McAfee',
 'FedEx Express',
 'CURise Analytics Pvt. Ltd.',
 'Syneos Health',
 'FEDEX EXPRESS TRANSPORTATION AND SUPPLY CHAIN SERV ICES (I) PRIVATE LIMITED',
 'Ensar Solutions Pvt Ltd',
 'Optum']

In [119]:
#lets extract the experience required
experience_tags = driver.find_elements_by_xpath

len(experience_tags)

20

In [120]:
experience=[]

for i in experience_tags:
    experience.append(i.text)
len(experience)

20

In [121]:
experience

['1-6 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '1-4 Yrs',
 '5-7 Yrs',
 '0-1 Yrs',
 '0-4 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '7-12 Yrs',
 '5-8 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '1-5 Yrs',
 '7-12 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '4-9 Yrs']

In [122]:
#extracting salary 
salary_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(salary_tags)

20

In [123]:
salary=[]

for i in salary_tags:
    salary.append(i.text)
len(salary)

20

In [124]:
salary

['5,00,000 - 10,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '6,00,000 - 16,00,000 PA.',
 '8,00,000 - 15,00,000 PA.',
 'Not disclosed']

In [127]:
#extracting location
location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [128]:
location=[]

for i in location_tags:
    location.append(i.text)
len(location)

20

In [132]:
len(job_titles), len(company_name), len(experience), len(salary) , len(location)

(20, 20, 20, 20, 20)

In [133]:
#creating the data frame
jobs=pd.DataFrame()

jobs['job_titles']=job_titles[:10]
jobs['company_name']= company_name[:10]
jobs['experience']=experience[:10]
jobs['location']=location[:10]
jobs['salary']=salary[:10]

jobs

,job_titles,company_name,experience,location,salary
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs,Bangalore/Bengaluru,"5,00,000 - 10,00,000 PA."
1,Data Analyst,Shell,4-7 Yrs,Bangalore/Bengaluru,Not disclosed
2,Business Analyst (Data Analyst role),Xpheno,2-5 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Not disclosed
3,"Senior Analyst, Data Engineering",Dell,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
4,Business Data Analyst - MIS & Reporting,SHAND PIPE INDUSTRY PVT.LTD,2-6 Yrs,Bangalore/Bengaluru,Not disclosed
5,Data Analyst,THBS,1-4 Yrs,Bangalore/Bengaluru,Not disclosed
6,Job Opportunity with Leading MNC - Senior Data...,Enrich and Enlight,5-7 Yrs,Bangalore/Bengaluru,Not disclosed
7,Analyst - Data Intelligence Group,TresVista Financial,0-1 Yrs,"Mumbai, Pune, Bangalore/Bengaluru",Not disclosed
8,Insights Data analyst,Tide Software,0-4 Yrs,Bangalore/Bengaluru,Not disclosed
9,Data Analyst,Shell,5-8 Yrs,Bangalore/Bengaluru,Not disclosed

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [3]:
url= 'https://www.naukri.com/'
driver.get(url)

In [4]:
# finding web element for search job bar using class name
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [5]:
#write on search bar
search_job.send_keys('Data Scientist')

In [6]:
#finding web element for search location using absolute xpath
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [7]:
#finding web element for search location bar
search_locn.send_keys('banglore')

In [8]:
#clicking using class name function
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn

In [9]:
search_btn.click()

Extracting Job Result

In [10]:
#lets extracts all the web element having job title
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [11]:
#now text of the job title is inside the web element extracted above
#so we will run for loop to iterate over the tags and will extracts text from them
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [12]:
job_titles

['Data Scientist / Analyst',
 'Senior Risk Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist - Advanced Analytics',
 'Senior Data Scientist',
 'Senior - Data Scientist',
 'Data Scientist Openings with AT&T',
 'Lead Data Scientist required For CU Rise Analytics',
 'Senior Data Scientist',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Senior Data Scientist with Pyspark and Databricks German MNC',
 'Data Scientist: Artificial Intelligence']

In [13]:
#extracting location
location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [14]:
location=[]

for i in location_tags:
    location.append(i.text)
len(location)

20

In [15]:
location

['Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Whitefield)',
 'Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru, Mumbai (All Areas), Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [16]:
#lets exytract the company name from the web element
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [20]:
company_name=[]

for i in company_tags:
    company_name.append(i.text)
len(company_name)

20

In [22]:
company_name

['Talentify',
 'GSK India',
 'IBM',
 'IBM',
 'IBM',
 'IBM',
 'IBM',
 'Siemens',
 'Spiceworks',
 'AT and T Global Business Services India P. Ltd.',
 'AT&T',
 'CURise Analytics Pvt. Ltd. (A Trellance Company)',
 'Inflexon Point',
 'Wipro',
 'Societe Generale',
 'Kinara Financial Private Limited',
 'Brillio',
 'Synechron',
 'Valuable Consulting',
 'IBM']

In [31]:
jobs=pd.DataFrame()

jobs['job_titles']=job_titles[:10]
jobs['location']=location[:10]
jobs['company_name']=company_name[:10]

jobs

,job_titles,location,company_name
0,Data Scientist / Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Talentify
1,Senior Risk Data Scientist,Bangalore/Bengaluru,GSK India
2,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
4,Data Scientist,Bangalore/Bengaluru,IBM
5,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
6,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
7,Senior Data Scientist - Advanced Analytics,Bangalore/Bengaluru,Siemens
8,Senior Data Scientist,Bangalore/Bengaluru,Spiceworks
9,Senior - Data Scientist,Bangalore/Bengaluru,AT and T Global Business Services India P. Ltd.

Q3: In this question you have to scrape data using the filters available on the webpage as shown below

You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required

In [66]:
url= 'https://www.naukri.com/'
driver.get(url)

In [67]:
# finding web element for search job bar using class name
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [68]:
#write on search bar
search_job.send_keys('Data Scientist')

In [69]:
#clicking using class name function
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn

In [70]:
search_btn.click()

In [82]:
#lets apply location filter
location_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')

In [83]:
location_check.click()

In [85]:
#lets apply salary filter
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')

In [86]:
salary_check.click()

In [87]:
#lets extracts all the web element having job title
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [88]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [89]:
job_titles

['Data Scientist II',
 'Opening For Data Scientist',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Lead Data Scientist - KYC/Fraud/Marketing',
 'Junior Data Scientist - Goods & Service Tax Network, Delhi',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / Senior DS/ Team Lead',
 'Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Data Scientist (ML AI Engineer) / InfoObjects Inc.',
 'Urgent Requirement || Data Scientist || Noida',
 'Data Scientist (freelance)',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist role',
 'Data Scientist role',
 'Data Scientist']

In [90]:
#extracting location
location_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [91]:
location=[]

for i in location_tags:
    location.append(i.text)
len(location)

20

In [92]:
location

['Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida, New Delhi, Delhi / NCR',
 'Noida',
 'New Delhi',
 'Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram(Cyber City +1)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Indore, Jaipur, Delhi / NCR\n(WFH during Covid)',
 'Noida, Delhi / NCR',
 'Gurgaon/Gurugram',
 'New Delhi',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Delhi',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Gurgaon, Bengaluru']

In [93]:
#lets exytract the company name from the web element
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [94]:
company_name=[]

for i in company_tags:
    company_name.append(i.text)
len(company_name)

20

In [95]:
company_name

['Chegg',
 'Care Health Insurance',
 'GABA Consultancy services',
 'Stefanini',
 'Tide Software',
 'NISG (National Institute for Smart Government)',
 'Smart work Consultants',
 'Zekardo Automotive Solutions',
 'Team Computers Pvt Ltd',
 'NebulARC Technologies Private Limited',
 'Schlesinger Group',
 'INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED',
 'HCL',
 '2Coms',
 'Boston Consulting Group',
 'Kyndryl',
 'iNICU',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'BlackBuck']

In [96]:
#lets extract the experience required
experience_tags = driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')
len(experience_tags)

20

In [97]:
experience=[]

for i in experience_tags:
    experience.append(i.text)
len(experience)

20

In [98]:
experience

['2-6 Yrs',
 '1-5 Yrs',
 '0-0 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '0-4 Yrs',
 '0-3 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '6-11 Yrs',
 '1-5 Yrs',
 '1-4 Yrs',
 '1-3 Yrs',
 '3-7 Yrs']

In [100]:
jobs=pd.DataFrame()

jobs['job_titles']=job_titles[:10]
jobs['location']=location[:10]
jobs['company_name']=company_name[:10]
jobs['experience']=experience[:10]

jobs

,job_titles,location,company_name,experience
0,Data Scientist II,Delhi / NCR,Chegg,2-6 Yrs
1,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
2,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Data Scientist,Noida,Stefanini,3-8 Yrs
4,Lead Data Scientist - KYC/Fraud/Marketing,New Delhi,Tide Software,1-6 Yrs
5,Junior Data Scientist - Goods & Service Tax Ne...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs
6,Associate Data Scientist - Java/ Scala/ Apache...,Noida,Smart work Consultants,1-4 Yrs
7,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),Zekardo Automotive Solutions,5-8 Yrs
8,Data Scientist,New Delhi,Team Computers Pvt Ltd,2-6 Yrs
9,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [76]:
driver = webdriver.Chrome(r'C:\Users\91797\Desktop\chromedriver_win32\chromedriver.exe')

In [81]:
url='https://www.flipkart.com/'
driver.get(url)

In [82]:
# sending keys to product search column
product_search = driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]')
product_search.send_keys('Sunglasses')

In [84]:
# clicking the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [ ]:
#setting the page limit from which we can scrapthe 100 data
start = 0
end = 3

In [103]:
for page in range(start,end):  # for loop for 3 pages in range so that each page's data could be scraped iteratively
    for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'): # getting web elements for brand names
        brand.append(i.text) # appending brand name data in brand empty list

In [105]:
prod_desc = []

# scraping data for product desciption.  
for page in range(start,end):
    for i in driver.find_elements_by_xpath('//a[@class="IRpwTa"]'):
        if i.text is None:          # if somewhere text is missing in web element
            prod_desc.append('--')  # then append desh so that our length of data could be same and related with other data
        else:
            prod_desc.append(i.text) # appending text of product description in empty list

In [110]:
price=[]

# scraping data for price data
for page in range(start,end):

    for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'): # getting web elements in which price data is present
        price.append(i.text)

In [108]:
discount = []

#scrapping the data for product discount.
for page in range(start,end):
    for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span'):
        if i.text is None:  # if somewhere discount is missing apending empty list with desh
            discount.append('--')
        else:
            discount.append(i.text)    # appending empty list with discount data

In [113]:
# getting next page for next page data through next page's web elemnt till above mentioned page range in for loop
next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]') # getting next button web element
try:                                                          
    driver.get(next_btn[1].get_attribute('href'))   # trying opening next page through the href link present in web element
except:
    driver.get(next_btn[0].get_attribute('href'))

In [114]:
print(len(discount),len(price),len(prod_desc),len(brand))

120 120 114 120

In [118]:
data = pd.DataFrame({})

data['Brand'] = brand[:100]
data['Product Description'] = prod_desc[:100]
data['Price'] = price[:100]
data['Discount'] = discount[:100]
data

,Brand,Product Description,Price,Discount
0,SRPM,UV Protection Wayfarer Sunglasses (53),₹207,79% off
1,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹156,87% off
2,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276,88% off
3,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹426,84% off
4,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹449,70% off
...,...,...,...,...
95,VINCENT CHASE,UV Protection Cat-eye Sunglasses (17),₹849,66% off
96,Singco India,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹664,77% off
97,Elligator,"UV Protection, Riding Glasses Rectangular Sung...",₹230,88% off
98,Lee Topper,"Riding Glasses, UV Protection, Others Aviator ...",₹275,88% off
99,chawla fashion,UV Protection Aviator Sunglasses (58),₹189,81% off

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [119]:
driver = webdriver.Chrome(r'C:\Users\91797\Desktop\chromedriver_win32\chromedriver.exe')

In [120]:
url='https://www.flipkart.com/'
driver.get(url)

In [121]:
# sending keys to product search column
product_search = driver.find_element_by_class_name('_3704LK')
product_search.send_keys('Sneakers')

In [124]:
# clicking the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [147]:
#setting the page limit from which we can scrapthe 100 data
start = 0
end = 3
brand=[]
for page in range(start,end):  # for loop for 3 pages in range so that each page's data could be scraped iteratively
    for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'): # getting web elements for brand names
        brand.append(i.text) # appending brand name data in brand empty list

In [172]:
prod_desc=[]

for page in range(start,end):
    for i in driver.find_elements_by_class_name('IRpwTa'):# getting web elements for product description
        prod_desc.append(i.text)# appending product description data in brand empty list

In [149]:
price=[]

for page in range(start,end):
    for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):# getting web elements for product description
        price.append(i.text)# appending product description data in brand empty list

In [150]:
discount=[]

for page in range(start,end):
    for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):# getting web elements for product description
        discount.append(i.text)# appending product description data in brand empty list

In [151]:
# getting next page for next page data through next page's web elemnt till above mentioned page range in for loop
next_btn = driver.find_elements_by_xpath('//a[@class="_1LKTO3"]') # getting next button web element
try:                                                          
    driver.get(next_btn[1].get_attribute('href'))   # trying opening next page through the href link present in web element
except:
    driver.get(next_btn[0].get_attribute('href'))

In [174]:
print(len(discount),len(price),len(prod_desc),len(brand))

120 120 120 120

In [175]:
data = pd.DataFrame({})

data['Brand'] = brand[:100]
data['Product Description'] = prod_desc[:100]
data['Price'] = price[:100]
data['Discount'] = discount[:100]
data

,Brand,Product Description,Price,Discount
0,Kraasa,Trendy Casual Shoes Sneakers For Men,₹444,55% off
1,corsac,Sneakers For Men,₹499,66% off
2,Arohi,Sneakers For Men,₹435,56% off
3,Echor,Men's Sneakers Fashion Lightweight Running Sho...,₹499,50% off
4,aadi,Casual Sneakers Sneakers For Men,₹449,77% off
...,...,...,...,...
95,HRX by Hrithik Roshan,Sneakers For Men,"₹2,299",39% off
96,PUMA,Men Casual Shoe New Trend With Fashion Panda D...,"₹2,481",64% off
97,Chevit,casual for men Sneakers For Men,₹446,55% off
98,KNIGHT WALKERS,Clasico Sneakers For Men,₹599,60% off
99,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹499,80% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [187]:
driver = webdriver.Chrome(r'C:\Users\91797\Desktop\chromedriver_win32\chromedriver.exe')

In [188]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [189]:
# opening all reviews page where we can find all pages link
all_reviews = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a')
driver.get(all_reviews.get_attribute('href'))

In [190]:
# creating empty lists
page_urls = []
# scraping urls of first 10 pages which is available on the same page
url_1 = driver.find_element_by_xpath('//a[@class="ge-49M _2Kfbh8"]') # getting first page url in page_urls[]
page_urls.append(url_1.get_attribute('href'))

In [191]:
url_2 = driver.find_elements_by_xpath('//a[@class="ge-49M"]')  # getting rest of 9 pages urls in page_urls[] list
for i in url_2:
    page_urls.append(i.get_attribute('href'))

In [198]:
print(len(rating_star),len(review_summary),len(full_review))

100 100 100

In [199]:
rating =[]
review_summary=[]
full_review=[]



# now getting all the desire data through each page of reviews iteratively
for i in page_urls:
    driver.get(i)
    
    for j in driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]/div[1]/div[1]'): # getting web elements of ratings
        rating.append(j.text)            # appending rating data into empty list of rating_star[]
        
    for k in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):  # getting web elements of review summary 
        review_summary.append(k.text)  # appending the review summary text data into empty list of review_summary[]
        
    for l in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div'):  # getting web elements of full reviews through parent tag
        full_review.append(l.text)  # appending full reviews to the empty list of full_review[]

In [200]:
data=pd.DataFrame({})
data['Rating']=rating_star
data['Review']=review_summary
data['Full Review']=full_review
data

,Rating,Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific,I got this beast today. And I must say the pic...
96,5,Highly recommended,"Amazing camera quality as expected, battery al..."
97,5,Must buy!,Dear friends... I want to share my experience ...
98,5,Must buy!,Camera is excellent just lack of telephoto mod...
99,5,Excellent,It was amazing experience for me. Honestly i a...

Question 7) Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image. And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [247]:
driver = webdriver.Chrome(r'C:\Users\91797\Desktop\chromedriver_win32\chromedriver.exe')

In [248]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [249]:
#clicking on price filter range from “Rs. 7149 to Rs. 14099 ”
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [250]:
#clicking on colour filter "black"
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [251]:
# creating empty list
brand = []
description = []
price = []

In [252]:
# setting page limit upto which data needed to be scraped
start = 0
end = 2

In [253]:
#scraping data for brand
for page in range(start,end):  # for loop for page
    for i in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        brand.append(i.text)

In [254]:
#scrapping data for description
for page in range(start,end): 
    for i in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        description.append(i.text)

In [255]:
#scrapping data for price
for page in range (start,end):
    for i in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        price.append(i.text)

In [256]:
print(len(brand),len(description),len(price))

100 100 100

In [257]:
data=pd.DataFrame({})
data['Brand']=brand
data['Description']=description
data['Price']=price
data

,Brand,Description,Price
0,Nike,Men AIR ZOOM PEGASUS 38,Rs. 9770Rs. 11495(15% OFF)
1,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(Rs. 3900 OFF)
2,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
3,Nike,Men Zoom F3 Basketball Shoes,Rs. 9260Rs. 10895(15% OFF)
4,Nike,Men Blazer Court Skateboarding,Rs. 7495
...,...,...,...
95,Royal Enfield,Cabo WP Riding Boots,Rs. 8500
96,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
97,J.FONTINI,Men Black Leather Loafers,Rs. 8490
98,Heel & Buckle London,Men Solid Leather Formal Loafers,Rs. 10791Rs. 11990(Rs. 1199 OFF)
99,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:

In [124]:
driver = webdriver.Chrome(r'C:\Users\91797\Desktop\chromedriver_win32\chromedriver.exe')

In [125]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [126]:
# finding web element for search job bar using xpath
search_job = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
search_job

In [127]:
search_job.click()

In [128]:
# finding web element for search job bar using xpath
search_job = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_job

In [129]:
#write on search bar
search_job.send_keys('Data scientist')

In [131]:
#clicking using class name function
search_job=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_job

In [132]:
search_job.click()

In [133]:
# finding web element for job location bar using xpath
job_location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
job_location

In [134]:
job_location.click()

In [135]:
# finding web element for location bar using xpath
location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
location

In [136]:
#write on search bar
location.send_keys('Noida')

In [137]:
# clicking on web element for location noida using xpath
location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
location

In [138]:
location.click()

In [278]:
#extracting the company tags
company_name=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
len(company_name)

10

In [279]:
Company_name=[]
for i in company_name:
    Company_name.append(i.text)

In [281]:
Company_name

['Jubilant Foodworks Limited',
 'HCL Technologies',
 'EY GDS',
 'Tavant Technologies India Pvt. Ltd.',
 'Denave India Pvt Ltd.',
 'EXL Service',
 'CHT Sapiense',
 'Pitney Bowes India Pvt ltd',
 'Zyoin',
 'Ameriprise Financial']

In [233]:
#extracting the posted date
Date_posted=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
len(Date_posted)

20

In [234]:
post_date=[]

for i in Date_posted:
    post_date.append(i.text)

In [238]:
post_date1 = post_date[0 : 20 : 2]

In [239]:
post_date1

['13d ago',
 '26d ago',
 '27d ago',
 '7d ago',
 '7d ago',
 '20d ago',
 '1d ago',
 '27d ago',
 '5d ago',
 '1mon ago']

In [262]:
#extracting the posted date
ratings=driver.find_elements_by_xpath('//span[@class="body-small"]')
len(ratings)

10

In [263]:
Ratings=[]
for i in ratings:
    Ratings.append(i.text)

In [268]:
Ratings

['3.9', '3.8', '3.7', '4.0', '4.0', '3.8', '3.8', '4.2', '4.1', '4.0']

In [283]:
#creating DataFrame
jobs=pd.DataFrame({})
jobs['Company Name']=Company_name
jobs['Posted']=post_date1
jobs['Ratings']=Ratings
jobs

                          Company Name    Posted Ratings
0           Jubilant Foodworks Limited   13d ago     3.9
1                     HCL Technologies   26d ago     3.8
2                               EY GDS   27d ago     3.7
3  Tavant Technologies India Pvt. Ltd.    7d ago     4.0
4                Denave India Pvt Ltd.    7d ago     4.0
5                          EXL Service   20d ago     3.8
6                         CHT Sapiense    1d ago     3.8
7           Pitney Bowes India Pvt ltd   27d ago     4.2
8                                Zyoin    5d ago     4.1
9                 Ameriprise Financial  1mon ago     4.0

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [45]:
driver = webdriver.Chrome(r'C:\Users\91797\Desktop\chromedriver_win32\chromedriver.exe')

In [46]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [47]:
# finding web element for search salaries bar using xpath
search_salaries = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
search_salaries

In [48]:
search_salaries.click()

In [49]:
# selecting the search bar to enter the designation
search_designation = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_designation

In [50]:
#write on search bar
search_designation.send_keys('Data scientist')

In [53]:
search_ds = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
for i in search_ds:
    if 'Data Scientist' in i.text:
        i.click()
        break

In [88]:
#scrapping the  company name
company_name=[]

for i in driver.find_elements_by_xpath('//div[@class="name"]'):
    company_name.append(i.text.split('\n')[0])

In [89]:
len(company_name)

10

In [63]:
total_salary_record

[' 10 salaries',
 ' 25 salaries',
 ' 13 salaries',
 ' 25 salaries',
 ' 75 salaries',
 ' 30 salaries',
 ' 51 salaries',
 ' 14 salaries',
 ' 13 salaries',
 ' 43 salaries']

In [65]:
#scrapping the average salary,
average_salary=[]

for i in driver.find_elements_by_xpath('//p[@class="averageCtc"]'):
    average_salary.append(i.text)

In [66]:
len(average_salary)

10

In [70]:
#extracting minimum and maximum salary

minimum_salary = []
maximum_salary = []
salary_tag_min = driver.find_elements_by_xpath('//div[@class="salary-values"]')
for i in salary_tag_min:
    minimum_salary.append(i.text.split('\n')[0])
    maximum_salary.append(i.text.split('\n')[1])
minimum_salary = minimum_salary[:10]

In [69]:
minimum_salary

['₹ 17.7L',
 '₹ 15.0L',
 '₹ 9.8L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L']

In [71]:
maximum_salary

['₹ 35.0L',
 '₹ 25.5L',
 '₹ 20.0L',
 '₹ 21.3L',
 '₹ 22.0L',
 '₹ 18.5L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 24.0L']

In [84]:
#extracting experience required.
experience=[]

for i in driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]'):
    experience.append(i.text.split('\n')[-1].replace('exp',''))

In [85]:
experience

['3 yrs ',
 '3-4 yrs ',
 '2 yrs ',
 '3-4 yrs ',
 '2-4 yrs ',
 '3-4 yrs ',
 '2-4 yrs ',
 '4 yrs ',
 '4 yrs ',
 '3-4 yrs ']

In [90]:
#creating DataFrame
jobs=pd.DataFrame({})
jobs['Company Name']=company_name
jobs['Total Salary Record']=total_salary_record
jobs['Average Salary']=average_salary
jobs['Minimum Salary']=minimum_salary
jobs['Maximum Salary']=maximum_salary
jobs['Experience']=experience
jobs

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience
0,Walmart,10 salaries,₹ 28.7L,₹ 17.7L,₹ 35.0L,3 yrs
1,Ab Inbev,25 salaries,₹ 20.2L,₹ 15.0L,₹ 25.5L,3-4 yrs
2,ZS,13 salaries,₹ 15.5L,₹ 9.8L,₹ 20.0L,2 yrs
3,Optum,25 salaries,₹ 15.1L,₹ 11.0L,₹ 21.3L,3-4 yrs
4,Fractal Analytics,75 salaries,₹ 15.1L,₹ 9.5L,₹ 22.0L,2-4 yrs
5,Tiger Analytics,30 salaries,₹ 14.2L,₹ 9.0L,₹ 18.5L,3-4 yrs
6,UnitedHealth,51 salaries,₹ 13.8L,₹ 8.3L,₹ 20.5L,2-4 yrs
7,Verizon,14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs
8,Ganit Business Solutions,13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs
9,Ericsson,43 salaries,₹ 11.9L,₹ 5.8L,₹ 24.0L,3-4 yrs